/*
nav {
  border-color: plum;
  color: aliceblue;
}

*/

body{
/*  change my background, and set global font family*/ 
}


header h1 {
  /* make bigger and color, change font-family: sans serif */
  color: mediumpurple;
  font-family: sans-serif;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.main-nav {
  /*change background color, remove bullets, border on each individual nav element. float the links , center our content within the links. width on links. font color. change font family*/
  color: white;
  background-color: mediumorchid;
  border-color: black;
  text-align: center;
  border: 3px solid gray; 
  font-family: sans-serif;

}

.aside {
/*  clear float first (clear both, then clear left), then add background color, float*/
  background-color: plum;
  float: left;
  color: white;
  font-family: sans-serif;
  padding: 5em 4em 12em;
  line-height: 216%
}


.content-wrapper {
/* change background color , float to the right?*/
  float: none;
  background-color: gainsboro;
  text-align: center;
  padding: 3em 15em; 
}

.content-wrapper img {
  align-content: center;
}

figure {
/* figure, we want to center that using 'margin:auto' */
  margin:auto;
} 

footer {
  
/* images float left and centered on the page */
  clear: both;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}